@import "bootstrap";
@import 'selectize';
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #dcdcdc;
  background-color: #343a40 !important;
}
#upload_preview {
  display: none;
  margin: auto;
}
.post-summary {
  margin: 25px;
}
.post-content {
  margin: 25px;
}
.post-categories {
  margin-top: 25px;
}
#message {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  color: red !important;
}
.resume {
  margin: 25px;
}
.resume-header {
  margin-bottom: 15px;
}
.resume-header-name {
  font-size: 20pt;
  font-family: Verdana, Geneva, sans-serif;
  color: #93CCEA;
}
.resume-header-info {
  font-size: 8pt;
}
.resume-section {
  margin-bottom: 15px;
}
.resume-section-header {
  color: #A9A9A9;
  font-weight: bold;
}
.resume-section-info {
}
.experience-header {
  color: #A9A9A9;
}
